$pink: #f16d7f;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content {
        flex-grow: 1;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    margin: 25px 0px 30px 0px;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;

        &__logo {
            display: flex;
            align-items: center;
            margin-right: 37px;
            text-decoration: none;

            &__text {
                font-size: 27px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                margin-left: 13px;
                color: #222;

                &::after {
                    content: 'd';
                    font-weight: 900;
                    color: $pink;
                }
            }
        }

        &__button-dropdown {
            width: 87px;
            height: 38px;
            background: #cdcdcc linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
            border: 1px solid #e6e6e6;
            border-right: none;
            border-radius: 3px 0px 0px 3px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.025em;
            outline: none;
            cursor: pointer;

            & i {
                color: #838383;
            }

            &:hover {
                background: #cdcdcc;
            }
        }

        &__form {
            position: relative;
            width: 317px;
            height: 38px;

            &__search {
                height: 100%;
                width: 100%;
                border: 1px solid #e6e6e6;
                padding-left: 16px;
                font-size: 14px;
                line-height: 32px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #a4a4a4;
                border-radius: 0px 3px 3px 0px;
                outline: none;
            }

            &__button-search {
                position: absolute;
                right: 0px;
                width: 36px;
                height: 100%;
                background-color: #ffffff;
                border: 1px solid #e6e6e6;
                border-radius: 0px 3px 3px 0px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #a4a4a4;
                outline: none;
                cursor: pointer;

                &:hover {
                    background: #cdcdcc;
                }
            }
        }

    }

    &__basket {
        display: flex;
        align-items: center;

        &__logo {
            margin-right: 26px;
        }

        &__button-account-dropdown {
            width: 130px;
            height: 38px;
            background-color: $pink;
            border: 1px solid #fff;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #fff;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: #fff;
                color: $pink;
                border: 1px solid $pink;
            }
        }
    }



    &__hr {
        border: none;
        color: #ececec;
        background-color: #ececec;
        height: 1px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        max-width: 1600px-460px*2; // ограничил ширину блока, если иначе то выставлять расстояния только через margin
        margin: 0 auto;
        align-items: center;
        list-style-type: none;
        height: 50px;

        & a {
            text-decoration: none;
            font-size: 14px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: #222;
        }
    }

    &-banner {
        display: flex;
        align-items: center;
        background: url(img/top-banner.png) #e8e8e8 center no-repeat;
        background-size: auto;
        height: 665px;

        &__header {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &__block {
            width: 12px;
            height: 92px;
            background: $pink;
            margin-right: 12px;
        }

        &__text {
            font-size: 60px;
            line-height: 1; // такое значение, иначе текст вышего розового блока
            font-weight: 900;
            letter-spacing: 0.025em;
            text-transform: uppercase;

            &__bottom {
                display: block;
                font-size: 40px;

                &::after {
                    content: ' fashion';
                    color: $pink;
                }
            }
        }
    }
}

.category {
    display: flex;
    justify-content: space-between;
    margin-top: 98px;

    &__left__img__top {
        display: block;
        position: relative;
        text-decoration: none;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'for men';
                color: $pink;
                font-size: 30px;
            }
        }
    }

    &__left__img__bottom {
        display: block;
        position: relative;
        text-decoration: none;
        margin-top: 20px;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'accesories';
                color: $pink;
                font-size: 30px;
            }
        }
    }

    &__right__img__top {
        display: block;
        position: relative;
        text-decoration: none;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'women';
                color: $pink;
                font-size: 30px;
            }
        }
    }

    &__right__img__bottom {
        display: block;
        position: relative;
        text-decoration: none;
        margin-top: 20px;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'for kids';
                color: $pink;
                font-size: 30px;
            }
        }
    }
}

.offers {
    margin-top: 100px;

    &__header {
        &__head {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #222;
            text-align: center;
        }

        &__text {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #9f9f9f;
            text-align: center;
        }
    }

    &-top {
        margin-top: 60px;
    }

    &__card-box {
        display: flex;
        justify-content: space-between;

        &__card {
            display: block;
            text-decoration: none;
            height: 364px;


            &:hover {
                box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
                background-color: #fff;
            }

            &:hover &__rating {
                display: inline;
            }

            &__description {
                margin-top: 13px;
                margin-left: 15px;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222;
            }

            &__price-rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 17px 14px 0 13px;
            }

            &__price {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: $pink;
            }

            &__rating {
                display: none;
                color: #e4af48;
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;

                & i:hover {
                    color: #898989;
                }
            }

            &__effect {
                background: rgb(58, 56, 56);
                overflow: hidden;
                position: relative;

                &__button {
                    display: none;
                    position: absolute;
                    top: 98px;
                    left: 70px;
                    width: 123px;
                    height: 39px;
                    background-color: rgba(255, 255, 255, 0.0);
                    border: 1px solid #fff;
                    font-size: 13px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                }

                &__button img {
                    margin-right: 8px;
                }

                &:hover &__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &__img {
                display: block;
                opacity: 1;
            }

            &__effect:hover &__img {
                opacity: 0.17;
            }
        }
    }

    &-bottom {
        margin-top: 39px;
    }

    &__browse-product {
        display: block;
        margin: 80px auto 0;
        width: 212px;
        height: 48px;
        background-color: $pink;
        border: 1px solid $pink;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #fff;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: $pink;
        }
    }
}

.banner-bottom {
    margin-top: 113px;
    height: 529px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;

    &:hover &__bg-img {
        background: url(img/banner-bottom.png) left no-repeat;
        background-size: auto;
    }

    &__bg-img {
        background: url(img/banner-bottom-layer.png) left no-repeat, url(img/banner-bottom.png) left no-repeat;
        background-size: auto;
        width: 767px;
        height: 100%;
        position: relative;

        &__header {
            position: absolute;
            top: 146px;
            left: 39px;
            font-size: 54px;
            line-height: 0.8;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fff;
            text-transform: uppercase;

            &__color {
                color: $pink;
            }

            &__font-size {
                font-size: 32px;
            }
        }

    }

    &__advantage {
        width: 373px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        &__card {
            display: flex;
            align-items: flex-start;
            margin: 0px 43px 0 36px;
        }

        &__card img {
            margin-right: 33px;
        }

        &__header {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fbfbfb;
        }

        &__text {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            margin-top: 17px;
        }
    }


}

.footer-top {
    margin-top: 60px;
    height: 438px;
    background: url(img/footer-background-effect.png) center no-repeat, url(img/footer-background.png) center no-repeat;
    background-size: cover;

    &:hover {
        background: url(img/footer-background.png) center no-repeat;
        background-size: cover;
    }

    & .container {
        display: flex;
        height: inherit;
    }

    &__left {
        width: 50%;
        height: 100%;
        overflow: hidden;
        border-right: 1px solid #fff;
    }

    &__carousel {
        display: flex;
        align-items: flex-start;
        margin: 123px 72px 0 0;

        & img {
            height: 83px;
            border-radius: 83px;
            margin-right: 28px;
        }

        &__content {
            &__switch {
                margin-top: 41px;
                display: flex;

            }

            &__text {
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                letter-spacing: 0.025em;
                color: #222224;
            }

            &__name {
                margin-top: 19px;
                font-size: 16px;
                line-height: 0.8;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #f16d7f;

                &__add {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 300;
                    color: #222224;
                }
            }
        }

        &__switcher {
            margin-right: 13px;
            background-color: #d6d6d6;
            height: 4px;
            width: 38px;
            border: none;
            outline: none;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:focus {
                // пока что сделал так, как правильно сделать для карусели не знаю
                background-color: $pink;
            }
        }


    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 50%;

        & h4 {
            text-align: center;
            margin-top: 123px;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222224;
        }

        & p {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }

    &__subscribe-form {
        margin: 35px auto 0;
        position: relative;
        width: 386px;


        & input[type="email"] {
            width: 386px-28px;
            height: 46px;
            border-radius: 23px;
            background-color: #e1e1e1;
            border: none;
            outline: none;
            opacity: 0.67;
            color: #222224;
            font-size: 14px;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: 0.35px;
            padding-left: 28px;
        }

        & button {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 104px;
            height: 46px;
            border-radius: 0 23px 23px 0;
            background-color: $pink;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.35px;
        }
    }

}

.footer-mid {
    height: 458px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {

        &__logo {
            @extend .top__menu__logo;

            &__text {
                @extend .top__menu__logo__text;

            }
        }

        &__text {
            width: 427px;
            margin-top: 41px;
            color: #898989;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.35px;
        }
    }

    &__nav-header {
        color: $pink;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        margin-bottom: 45px;
    }

    &__nav-list {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 42px;
        list-style-type: none;

        & a {
            color: #898989;
            text-decoration: none;
        }
    }

    & nav {
        margin-bottom: 45px;
    }

}

.footer-bottom {
    height: 80px;
    background-color: #e6e6e6;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }

    &__rights {
        // width: 260px;
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.4px;
    }

    &__social {
        display: flex;
        justify-content: space-between;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            width: 32px;
            height: 32px;
            background-color: #fff;
            text-decoration: none;
            color: #b2b2b2;
            font-size: 16px;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: 0.4px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #fff;
                background-color: $pink;
            }
        }
    }
}