$pink: #f16d7f;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Lato, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content {
        flex-grow: 1;
    }
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.top {
    margin: 25px 0px 30px 0px;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;

        &__logo {
            display: flex;
            align-items: center;
            margin-right: 37px;
            text-decoration: none;

            &__text {
                font-size: 27px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                margin-left: 13px;
                color: #222;

                &::after {
                    content: 'd';
                    font-weight: 900;
                    color: $pink;
                }
            }
        }

        &__button-dropdown {
            position: relative;
            width: 87px;
            background: #cdcdcc linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
            border: 1px solid #e6e6e6;
            border-right: none;
            border-radius: 3px 0px 0px 3px;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.025em;
            outline: none;
            cursor: pointer;

            & summary {
                padding: 9px 10px 10px;
                outline: none;
            }

            & summary::-webkit-details-marker {
                display: none;
            }

            &>summary {
                list-style: none;
            }

            &__link {
                text-decoration: none;
                font-size: 14px;
                line-height: 28px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #4f4f4f;

                &:hover {
                    color: $pink;
                }
            }


            &__box {
                position: absolute;
                z-index: 1;
                border: 1px solid #e9e9e9;
                padding: 18px 13px 10px 15px;
                background-color: #fff;
                border-radius: 5px;
                left: -1px;

                &::after {
                    position: absolute;
                    content: "";
                    border-top: 1px solid #e9e9e9;
                    border-left: 1px solid #e9e9e9;
                    width: 8px;
                    height: 8px;
                    transform: rotate(45deg);
                    background-color: #fff;
                    top: -5px;
                    left: 61px;
                }

                & ul {
                    list-style-type: none;
                }
            }

            &__header {
                font-size: 14px;
                line-height: 32px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #232323;
                border-bottom: 1px solid #e8e8e8;
                padding-right: 189px;

                &:not(:first-child) {
                    margin-top: 15px;
                }
            }

            & i {
                color: #838383;
            }

            &:hover {
                background: #cdcdcc;
            }
        }

        &__form {
            position: relative;
            width: 317px;
            height: 38px;

            &__search {
                height: 100%;
                width: 100%;
                border: 1px solid #e6e6e6;
                padding-left: 16px;
                font-size: 14px;
                line-height: 32px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #a4a4a4;
                border-radius: 0px 3px 3px 0px;
                outline: none;
            }

            &__button-search {
                position: absolute;
                right: 0px;
                width: 36px;
                height: 100%;
                background-color: #ffffff;
                border: 1px solid #e6e6e6;
                border-radius: 0px 3px 3px 0px;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #a4a4a4;
                outline: none;
                cursor: pointer;

                &:hover {
                    background: #cdcdcc;
                }
            }
        }

    }

    &__basket {
        display: flex;
        align-items: center;

        &__dropdown {
            position: relative;
            margin-right: 26px;

            & summary {
                outline: none;
                cursor: pointer;
            }

            & summary::-webkit-details-marker {
                display: none;
            }

            &>summary {
                list-style: none;
            }

            &__box {
                z-index: 1;
                position: absolute;
                top: 45px;
                left: -10px;
                border-radius: 5px;
                background-color: #fff;
                padding: 21px 15px 20px 19px;
                border: 1px solid #e8e8e8;

                &::after {
                    content: "";
                    position: absolute;
                    top: -5px;
                    left: 26px;
                    width: 8px;
                    height: 8px;
                    transform: rotate(45deg);
                    background-color: #fff;
                    border-top: 1px solid #e8e8e8;
                    border-left: 1px solid #e8e8e8;
                }

                &__card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                    border-bottom: 1px solid#ededed;

                    &__info {
                        margin-left: -50px;

                        &::after {
                            content: "1 x 250$";
                            color: $pink;
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 10px;
                            letter-spacing: 1px;
                        }


                    }

                    &__text {
                        color: #222222;
                        font-size: 12px;
                        font-weight: 700;
                        text-transform: uppercase;
                        cursor: default;
                    }

                    &__rating {
                        margin: 10px 0px 12px 0px;


                        & i {
                            color: #e4af48;
                            font-size: 12px;
                            margin-right: -5px;
                            cursor: default;
                        }
                    }

                    .color-icon {
                        color: #c0c0c0;
                        font-size: 16px;
                        cursor: pointer;

                        &:hover {
                            color: $pink;
                        }
                    }
                }

                &__footer {
                    display: flex;
                    justify-content: space-between;

                    & p {
                        color: #222222;
                        font-size: 16px;
                        font-weight: 700;
                        text-transform: uppercase;
                        cursor: default;
                    }

                    &::after {
                        content: "$500.00";
                    }
                }

                &__button-checkout {
                    background-color: $pink;
                    color: #fff;
                    outline: none;
                    border: 1px solid $pink;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 19px 74px;
                    cursor: pointer;
                    display: block;
                    margin: 32px auto 0;

                    &:hover {
                        background-color: #fff;
                        color: $pink;
                        // border: 1px solid $pink;
                    }
                }

                &__button-cart {
                    background-color: #4a4a4a;
                    outline: none;
                    border: 1px solid #4a4a4a;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 19px 70px;
                    cursor: pointer;
                    display: block;
                    margin: 10px auto 0;

                    &:hover {
                        background-color: #fff;
                        color: #4a4a4a;
                    }
                }
            }
        }

        &__button-account-dropdown {
            position: relative;
            background-color: $pink;
            border: 1px solid #fff;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #fff;
            cursor: pointer;
            outline: none;

            & summary {
                padding: 13px 12px 11px 19px;
                outline: none;
                cursor: pointer;
            }

            & summary::-webkit-details-marker {
                display: none;
            }

            &>summary {
                list-style: none;
            }

            &:hover {
                background-color: #fff;
                color: $pink;
                border: 1px solid $pink;
            }

            &__box {
                z-index: 1;
                position: absolute;
                top: 50px;
                left: -20px;
                border-radius: 5px;
                background-color: #fff;
                padding: 21px 15px 10px 19px;
                border: 1px solid #e8e8e8;

                &::after {
                    position: absolute;
                    top: -5px;
                    left: 130px;
                    content: "";
                    width: 8px;
                    height: 8px;
                    transform: rotate(45deg);
                    background-color: #fff;
                    border-top: 1px solid #e8e8e8;
                    border-left: 1px solid #e8e8e8;
                }

                & ul {
                    list-style-type: none;
                }

            }

            .account-dropdown-header {
                padding-right: 80px;
            }

            &__logout {
                @extend .top__basket__dropdown__box__button-checkout;
                background-color: #fff;
                color: $pink;
                border: 1px solid $pink;
                padding: 13px 15px;
                margin: 10px auto;

                &:hover {
                    background-color: $pink;
                    color: #fff;
                }
            }
        }



    }



    &__hr {
        border: none;
        color: #ececec;
        background-color: #ececec;
        height: 1px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        max-width: 1600px-460px*2; // ограничил ширину блока, если иначе то выставлять расстояния только через margin
        margin: 0 auto;

        &__li {
            padding: 19px 0 22px 0;
            list-style-type: none;
            position: relative;

            &:hover .mega-menu {
                display: flex;
            }
        }

        &__link {
            text-decoration: none;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: #222;
        }
    }

    &-banner {
        display: flex;
        align-items: center;
        background: url(img/top-banner.png) #e8e8e8 center no-repeat;
        background-size: auto;
        height: 665px;

        &__header {
            display: flex;
            align-items: center;
            width: 100%;
        }

        &__block {
            width: 12px;
            height: 92px;
            background: $pink;
            margin-right: 12px;
        }

        &__text {
            font-size: 60px;
            line-height: 1; // такое значение, иначе текст вышего розового блока
            font-weight: 900;
            letter-spacing: 0.025em;
            text-transform: uppercase;

            &__bottom {
                display: block;
                font-size: 40px;

                &::after {
                    content: ' fashion';
                    color: $pink;
                }
            }
        }
    }
}



.mega-menu {
    position: absolute;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #fff;
    top: 50px;
    left: -25px;

    &::before {
        content: "";
        height: 8px;
        width: 8px;
        border-top: 1px solid #e9e9e9;
        border-left: 1px solid #e9e9e9;
        background-color: #fff;
        position: absolute;
        top: -6px;
        left: 38px;
        transform: rotate(45deg);
    }

    .right:hover & {
        display: flex;
        left: -870px;
        top: 50px;
    }

    .right:hover &::before {
        left: 900px;
    }

    &__box {
        margin: 0px 46px 10px 25px;

        &:last-of-type {
            margin-right: 21px;
        }

        &__header {
            font-size: 14px;
            font-weight: 400;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            border-bottom: 1px solid #e8e8e8;
            padding-right: 177px;
            margin-top: 10px;

            &__link {
                text-decoration: none;
                color: #232323;
                display: block;

                &:hover {
                    color: $pink;
                }
            }
        }

        &__li {
            list-style-type: none;

            &__link {
                color: #646464;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.35px;
                text-decoration: none;

                &:hover {
                    color: $pink;
                }
            }

            &__img {
                margin-top: 20px;
            }

        }
    }
}







.category {
    display: flex;
    justify-content: space-between;
    margin-top: 98px;

    &__left__img__top {
        display: block;
        position: relative;
        text-decoration: none;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'for men';
                color: $pink;
                font-size: 30px;
            }
        }
    }

    &__left__img__bottom {
        display: block;
        position: relative;
        text-decoration: none;
        margin-top: 20px;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'accesories';
                color: $pink;
                font-size: 30px;
            }
        }
    }

    &__right__img__top {
        display: block;
        position: relative;
        text-decoration: none;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'women';
                color: $pink;
                font-size: 30px;
            }
        }
    }

    &__right__img__bottom {
        display: block;
        position: relative;
        text-decoration: none;
        margin-top: 20px;

        &__text {
            height: 82px-16px;
            padding: 16px 10px 0 18px;
            background: #fff;
            position: absolute;
            top: 26px;
            font-size: 18px;
            line-height: 1.2;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222;

            &::after {
                content: 'for kids';
                color: $pink;
                font-size: 30px;
            }
        }
    }
}

.offers {
    margin-top: 100px;

    &__header {
        margin-bottom: 20px;

        &__head {
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #222;
            text-align: center;

        }

        &__text {
            margin-top: 16px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #9f9f9f;
            text-align: center;
        }
    }

    &-top {
        margin-top: 60px;
    }

    &__card-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__card {
            margin: 40px 12px 0px 0px;
            position: relative;
            display: flex;
            justify-content: center;

            &__item {
                display: block;
                text-decoration: none;
                padding-bottom: 21px;
            }

            &:hover {
                box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
                background-color: #fff;
            }

            &__img {
                display: block;
            }

            &:hover &__img {
                filter: brightness(40%);
            }

            &:hover &__button {
                display: flex;
            }

            &:hover &__rating {
                display: inline;
            }

            &__description {
                margin-top: 13px;
                margin-left: 15px;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 400;
                text-transform: uppercase;
                color: #222;
            }

            &__price-rating {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 17px 14px 0 13px;
            }

            &__price {
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: $pink;
            }

            &__rating {
                display: none;
                color: #e4af48;
                font-size: 15px;
                font-weight: 400;
                text-transform: uppercase;

                & i:hover {
                    color: #898989;
                }
            }

            &__button {
                display: none;
                align-items: center;
                position: absolute;
                top: 98px;
                padding: 10px 13px;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.0);
                border: 1px solid #fff;
                font-size: 13px;
                line-height: 1.2;
                font-weight: 700;
                color: #fff;

                &:hover {
                    box-shadow: 0 0 10px;
                }
            }

            &__button img {
                margin-right: 8px;
            }
        }
    }

    &-bottom {
        margin-top: 39px;
    }

    &__browse-product {
        display: block;
        margin: 80px auto 0;
        width: 212px;
        height: 48px;
        background-color: $pink;
        border: 1px solid $pink;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #fff;
        outline: none;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: $pink;
        }
    }
}

.banner-bottom {
    margin-top: 113px;
    height: 529px;
    background-color: #222224;
    display: flex;
    justify-content: space-between;

    &:hover &__bg-img {
        background: url(img/banner-bottom.png) left no-repeat;
        background-size: auto;
    }

    &__bg-img {
        background: url(img/banner-bottom-layer.png) left no-repeat, url(img/banner-bottom.png) left no-repeat;
        background-size: auto;
        width: 767px;
        height: 100%;
        position: relative;

        &__header {
            position: absolute;
            top: 146px;
            left: 39px;
            font-size: 54px;
            line-height: 0.8;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fff;
            text-transform: uppercase;

            &__color {
                color: $pink;
            }

            &__font-size {
                font-size: 32px;
            }
        }

    }

    &__advantage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 48px;
        padding-right: 43px;
        padding-bottom: 66px;
        padding-left: 32px;

        &__card {
            display: flex;
            align-items: flex-start;
            margin-top: 60px;

            &:first-child {
                margin-top: 0px;
            }
        }

        &__card img {
            margin-right: 33px;
        }

        &__header {
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #fbfbfb;
        }

        &__text {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #fbfbfb;
            margin-top: 17px;
        }
    }
}

.footer-top {
    margin-top: 60px;
    height: 438px;
    background: url(img/footer-background-effect.png) center no-repeat, url(img/footer-background.png) center no-repeat;
    background-size: cover;

    &:hover {
        background: url(img/footer-background.png) center no-repeat;
        background-size: cover;
    }

    & .container {
        display: flex;
        height: inherit;
    }

    &__left {
        width: 50%;
        height: 100%;
        overflow: hidden;
        border-right: 1px solid #fff;
    }

    &__carousel {
        // display: flex;
        // align-items: flex-start;
        margin: 123px 72px 0 0;

        &__slide {
            display: flex;
            align-items: flex-start;
        }

        & img {
            height: 83px;
            border-radius: 83px;
            margin-right: 28px;
        }

        &__content {
            &__switch {
                margin: 41px 0 0 115px;
                display: flex;

            }

            &__text {
                font-size: 16px;
                font-weight: 400;
                font-style: italic;
                letter-spacing: 0.025em;
                color: #222224;
            }

            &__name {
                margin-top: 19px;
                font-size: 16px;
                line-height: 0.8;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: $pink;

                &__add {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 300;
                    color: #222224;
                }
            }
        }

        &__switcher {
            margin-right: 13px;
            background-color: #d6d6d6;
            height: 4px;
            width: 38px;
            border: none;
            outline: none;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                // пока что сделал так, как правильно сделать для карусели не знаю
                background-color: $pink;
            }
        }


    }

    &__right {
        display: flex;
        flex-direction: column;
        width: 50%;

        & h4 {
            text-align: center;
            margin-top: 123px;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.025em;
            color: #222224;
        }

        & p {
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
        }
    }

    &__subscribe-form {
        margin: 35px auto 0;
        position: relative;
        width: 386px;


        & input[type="email"] {
            width: 386px-28px;
            height: 46px;
            border-radius: 23px;
            background-color: #e1e1e1;
            border: none;
            outline: none;
            opacity: 0.67;
            color: #222224;
            font-size: 14px;
            font-weight: 400;
            line-height: 54px;
            letter-spacing: 0.35px;
            padding-left: 28px;
        }

        & button {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 104px;
            height: 46px;
            border-radius: 0 23px 23px 0;
            background-color: $pink;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.35px;
        }
    }

}

.footer-mid {
    height: 458px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__info {

        &__logo {
            @extend .top__menu__logo;

            &__text {
                @extend .top__menu__logo__text;

            }
        }

        &__text {
            width: 427px;
            margin-top: 41px;
            color: #898989;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0.35px;
        }
    }

    &__nav-header {
        color: $pink;
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;

        margin-bottom: 45px;
    }

    &__nav-list {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 42px;
        list-style-type: none;

        & a {
            color: #898989;
            text-decoration: none;

            &:hover {
                color: $pink;
            }
        }
    }

    & nav {
        margin-bottom: 45px;
    }

}

.footer-bottom {
    height: 80px;
    background-color: #e6e6e6;

    & .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: inherit;
    }

    &__rights {
        // width: 260px;
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0.4px;
    }

    &__social {
        display: flex;
        justify-content: space-between;

        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            width: 32px;
            height: 32px;
            background-color: #fff;
            text-decoration: none;
            color: #b2b2b2;
            font-size: 16px;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: 0.4px;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: #fff;
                background-color: $pink;
            }
        }
    }
}

.banner-single-page {
    background-color: #f8f3f4;
    padding: 65px 0;

    & .container {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        color: $pink;
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
    }
}

.breadcrumbs {
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: #636363;
        font-weight: 300;

        &:not(:last-of-type)::after {
            content: " / ";
        }

        &:last-of-type {
            color: $pink;
        }
    }
}